{% extends "base.html" %}
{% block content %}

<div class="login-register-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <p>Password change successful. Your password was changed.</p>
                    <p><a href="{% url 'home' %}" class="btn btn-info">Go Back to Home Page</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}