<!-- Modal -->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ACTION DELETE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the title <strong>{{ product.title|truncatechars:50 }}</strong>?</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">DELETE</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Modal -->

<div class="product-details-area pt-50 "></div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="product-details-img">
                <div class="zoompro-border zoompro-span">
                    <img class="zoompro" src="{{ product.featured_image.url }}"
                        data-zoom-image="assets/img/product-details/product-detalis-bl1.jpg" alt="" />
                    <div class="product-video">
                        {% if product.video_link %}
                        <a href="{{product.video_link}}" target="_blank">
                            <i class="sli sli-control-play"></i>
                            View Video
                        </a>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="product-details-content ml-30">
                <div class="mb-4">
                    <a href="{% url 'update-product' product.pk %}" class="btn btn-success">EDIT</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletemodal">
                        DELETE
                    </button>
                    <br>

                </div>

                <h2>{{product.title}}</h2>
                <div class="product-details-price">
                    <span>Rs. {{product.price}} </span>
                </div>
                <div class="pro-details-meta">
                    <span>Categories : {{product.category}}</span>

                </div>
                <div class="pro-details-meta">
                    <span>Tags: {{ product.tag.all|join:", "}}</span>
                </div>
                <div class="pro-details-rating-wrap">
                    <div class="pro-details-rating">
                        <i class="sli sli-star yellow"></i>
                        <i class="sli sli-star yellow"></i>
                        <i class="sli sli-star yellow"></i>
                        <i class="sli sli-star yellow"></i>
                        <i class="sli sli-star yellow"></i>
                    </div>
                    <span><a href="#">3 Reviews</a></span>
                </div>
                <div class="pro-details-list">

                </div>
                <div class="pro-details-size-color">
                </div>
                <div class="pro-details-quality">
                    <div class="cart-plus-minus">

                        <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                    </div>
                    <div class="pro-details-cart btn-hover">
                        <a href="#">Add To Cart</a>
                    </div>
                    <div class="pro-details-wishlist">
                        <a title="Add To Wishlist" href="#"><i class="sli sli-heart"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</div>